# Distribution files
/devops_toolset.egg-info/
/dist/
/build/
/tests/pytest.ini
/tests/.coveragerc
/tests/.pytest/
/tests/.pytest_cache/
/tests/htmlcov

# Python cache and virtual environments
**/__pycache__
venv/

# Coverage files
.pytest*/
