steps:
  - task: UsePythonVersion@0
    displayName: Set Python version
    inputs:
      versionSpec: '>=3.9'
      addToPath: true
      architecture: 'x64'
  - task: CmdLine@2
    displayName: Install pip packages
    inputs:
      script: |
        python3 -m pip install -r requirements.txt
        python3 -m pip list 
