steps:
  - task: PythonScript@0
    displayName: Get current branch
    inputs:
      scriptSource: 'inline'
      script: |
        import devops_toolset.tools.git as git_tools
        git_tools.get_current_branch_simplified("$(Build.SourceBranch)", "CURRENT_BRANCH")
      failOnStderr: true
  - task: PythonScript@0
    displayName: Parse project.xml
    inputs:
      scriptSource: 'inline'
      script: |
        import devops_toolset.filesystem.parsers as parsers
        parsers.parse_project_xml_data()
      failOnStderr: true
